
.ItemListContainer{
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;

    height: 235px;
    text-align: center;
    display: block;
    background-color: #09017c;
}

/* span{
    margin-left: 2px;
  
    border-left: white 10;
    text-decoration: none;
    font-size: 20px;
    color: rgb(193, 192, 245);
} */

div :hover{
    background-color: rgb(90, 128, 199);
    color: #09017c;

}


div p{
    margin-left: 20px;
    /* padding: 10px; */
    border-left: white 10;
    text-decoration: none;
    font-size: 18px;
    color: rgb(193, 192, 245);
}

div p:hover{
    background-color: rgb(90, 128, 199);
    color: #09017c;

}