.product{
    margin-top: 1%;
    margin-left: 1%;
    width: 32%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    background-color: #09017c;
    font-size: 13px;

}

.product p{
    margin-top: 2px;
    /* margin-left: 20px; */
    /* padding: 10px; */
    border-left: white 10;
    text-decoration: none;
    font-size: 12px;
    color: rgb(193, 192, 245);
}

.product img{
    height: 150px;
    width: 230px;
}

div .product .description{
    font-size: 9px;
}